<div class="col-xs-4 text-right" style="background-color:red;">
    <div>

    </div>

    <div class="text-center" style="font-size:24px; display:inline-block;">
        <div>Rampage</div>
        <div style="margin-top:-10px;"><small class="text-muted">Test subheader</small></div>
    </div>
</div>

<div class="col-xs-4 text-center" style="background-color:green;">
    <div>

    </div>

    <div class="text-center" style="font-size:24px; display:inline-block;">
        <div>Mortal</div>
        <div style="margin-top:-10px;"><small class="text-muted">Test subheader</small></div>
    </div>
</div>

<div class="col-xs-4 text-left" style="background-color:blue;">
    <div>

    </div>

    <div class="text-center" style="font-size:24px; display:inline-block;">
        <div>The Divine Council</div>
        <div style="margin-top:-10px;"><small class="text-muted">Test subheader</small></div>
    </div>
</div>