<div id="view-selector-btn-popover" style="display:none; color:#000;">
    <button type="button" class="btn btn-default table-options view-filter-btn active-filter" data-standings-id="<?php echo $id; ?>" data-view-filter="world" data-view-type="<?php echo $view; ?>" style="background-color:#fbb70a; color:#fff; border-color:#fbb70a;">
        W
    </button> <span style="color:#000;">Worldwide</span>

    <hr style="margin:2px;">

    <button type="button" class="btn btn-default table-options view-filter-btn" data-standings-id="<?php echo $id; ?>" data-view-filter="region" data-view-type="<?php echo $view; ?>">
        R
    </button> <span style="color:#000;">Regional</span>

    <hr style="margin:2px;">

    <button type="button" class="btn btn-default table-options view-filter-btn" data-standings-id="<?php echo $id; ?>" data-view-filter="server" data-view-type="<?php echo $view; ?>">
        S
    </button> <span style="color:#000;">Server</span>
</div>