<div class="table-responsive">
    <table class="table spreadsheet-table" style="color:#323232; font-family:Verdana;">
        <thead style="font-size:.8em;">
            <tr>
                <th class="text-center fit">Rank</th>
                <th class="text-left fit">Guild</th>
                <?php for ( $i =0; $i < count($encounters); $i++ ) { ?>
                    <th class="text-center"><?php echo $encounters[$i]->name; ?></th>
                <?php } ?>
            </tr>
        </thead>
        <tbody style="font-size:.9em;">
            <?php if ( count($this->_data['standings']) == 0 ) { ?>
                <tr>
                    <td class="text-center" colspan="<?php echo (2+count($encounters)); ?>">No data found.</td>
                </tr>
            <?php } else { ?>
                <?php foreach ( $this->_data['standings'] as $server => $guildList ) { ?>
                    <tr style="border-bottom:1px solid #ddd; background-color:#d9edf7;">
                        <th colspan="2"><?php echo $server; ?></th>
                        <th colspan="<?php echo count($encounters); ?>"></th>
                    </tr>

                    <?php for ( $i = 0; $i < count($guildList); $i++ ) { ?>
                        <?php $guild = $guildList[$i]; ?>

                        <tr <?php if ( $guild->active == 0 ) { ?> class="inactive" <?php } ?> >
                            <td class="text-center fit"><span style="font-size:0.7em;"><?php echo ($i+1); ?></span></td>
                            <td class="text-left fit">
                                <span class="flag-icon flag-icon-<?php echo $guild->country; ?>" style="border: 1px solid rgba(0,0,0,1.3);"></span> <a href="<?php echo $guild->profileLink; ?>"><?php echo $guild->name; ?></a>
                            </td>
                            <?php foreach ( $guild->encounters as $date ) { ?>
                                <?php if ( $date == '' ) { ?>
                                    <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                <?php } else { ?>
                                    <td class="text-center"><i class="fa fa-check-circle text-success"></i></td>
                                <?php } ?>
                            <?php } ?>
                        </tr>
                    <?php } ?>
                <?php } ?>
            <?php } ?>
        </tbody>
    </table>
</div>