<div class="panel panel-primary">
    <div class="panel-heading text-left">
        <div class="text-center">
            <div style="font-size:1.2em;"><?php echo $name; ?></div>
        </div>
    </div>

    <div class="list-group panel-content">
        <li class="list-group-item">
            <div style="width:250px; height:250px; border:1px solid rgba(0, 0, 0, 0.20); border-radius:50% !important; text-align:center; line-height:250px; font-size:200px;">
                R
            </div>
        </li>

        <a href="#" class="list-group-item">
            <div style="display:table; width:100%;">
                <div style="display:table-cell; vertical-align:middle; width:100%;" class="text-left">
                    <h5 class="list-group-item-heading text-center"><strong><?php echo $region . '-' . $server; ?></strong></h5>
                    <p class="list-group-item-text text-center">Server</p>
                </div>
            </div>
        </a>

        <a href="#" class="list-group-item">
            <div style="display:table; width:100%;">
                <div style="display:table-cell; vertical-align:middle; width:100%;" class="text-left">
                    <h5 class="list-group-item-heading text-center"><strong><span class="flag-icon flag-icon-<?php echo $countryAbbreviation; ?>" style="border: 1px solid rgba(0,0,0,1.3);"></span> <?php echo $country; ?></strong></h5>
                    <p class="list-group-item-text text-center">Country</p>
                </div>
            </div>
        </a>

        <a href="#" class="list-group-item">
            <div style="display:table; width:100%;">
                <div style="display:table-cell; vertical-align:middle; width:100%;" class="text-left">
                    <h5 class="list-group-item-heading text-center"><strong>N/A</strong></h5>
                    <p class="list-group-item-text text-center">Guild Leader</p>
                </div>
            </div>
        </a>

        <a href="#" class="list-group-item">
            <div style="display:table; width:100%;">
                <div style="display:table-cell; vertical-align:middle; width:100%;" class="text-left">
                    <h5 class="list-group-item-heading text-center"><strong><?php echo $dateAdded; ?></strong></h5>
                    <p class="list-group-item-text text-center">Date Joined</p>
                </div>
            </div>
        </a>

        <a href="#" class="list-group-item">
            <div style="display:table; width:100%;">
                <div style="display:table-cell; vertical-align:middle; width:100%;" class="text-left">
                    <h5 class="list-group-item-heading text-center"><strong>0</strong></h5>
                    <p class="list-group-item-text text-center">World Firsts</p>
                </div>
            </div>
        </a>

        <a href="#" class="list-group-item">
            <div style="display:table; width:100%;">
                <div style="display:table-cell; vertical-align:middle; width:100%;" class="text-left">
                    <h5 class="list-group-item-heading text-center"><strong>0</strong></h5>
                    <p class="list-group-item-text text-center">Region Firsts</p>
                </div>
            </div>
        </a>

        <a href="#" class="list-group-item">
            <div style="display:table; width:100%;">
                <div style="display:table-cell; vertical-align:middle; width:100%;" class="text-left">
                    <h5 class="list-group-item-heading text-center"><strong>0</strong></h5>
                    <p class="list-group-item-text text-center">Server Firsts</p>
                </div>
            </div>
        </a>

        <li class="list-group-item">
            <a class="btn btn-block btn-primary" href="#" disabled>Guild Website</a>
        </li>
    </div>
</div>